body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwNlTXs99J2UfLrDB9VTKCgFa8iaz4mokEVw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
}
